pkgbase = hyprland-crt-shader
	pkgdesc = Rust and Slint control panel for the Hyprland CRT screen shader
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/huangj1e/Hyprland-CRT-Shader
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = ninja
	depends = hyprland
	depends = fontconfig
	depends = libxkbcommon
	depends = wayland
	optdepends = glslang: validate the GLSL shader locally
	options = !debug
	source = project.tar.gz
	sha256sums = SKIP

pkgname = hyprland-crt-shader
